.footer > a {
  color: black;
  font-size: 12px;
    margin-right: 15px;
    text-decoration: none;
}

.footer {
  display: flex;
  background-color: transparent;
  background: none;
  width: 100vw;
  bottom:  0;
  margin: 15px;
  margin-top: 10px;
  z-index: 100;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}