.header {
  display: flex;
  background-color: transparent;
  background: none;
  position: fixed;
  width: 100vw;
  top: 0;
  margin: 15px;
  margin-top: 10px;
  z-index: 100;
  font-size: 14px;
}

.header__logo {
  height: 12px;
  width: 100px;
  margin-top: 7px;
  display: flex;
  flex: 0.2;
}

.header__logo > img {
  height: 15px;
  width: 100px;
}

.header__center {
  display: flex;
  flex: 0.6;
  justify-content: center;
}

.header__center > a {
  color: black;
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.header__right {
  display: flex;
  flex: 0.2;
  justify-content: flex-end;
  text-transform: uppercase;
  align-items: center;
  margin-right: 50px;
}

.header__right > p {
  margin: 10px;
  text-transform: uppercase;
}
